.header {
  width: 80rem;
  height: 4rem;
  border: 1px dotted green;
  background-color: lightyellow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.leftItem {
  justify-self: left;
  padding-left: 0.5rem;
}

.leftItem label {
  color: blue;
  font-size: 16px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.rightItem {
  justify-self: right;
  padding-right: 0.5rem;
}

.button {
  width: 12rem;
  margin: 0.2rem;
  background-color: lightgrey;
  color: blue;
}

.title {
  font-weight: bold;
  height: 4rem;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 0.4rem;
}
