.canvas-menu__button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.canvas-menu__button > span {
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.canvas-menu__items {
  position: absolute;
  top: 6.2rem;
  left: 0;
  right: 0;

  z-index: 100;
  background-color: bisque;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  height: 0;
}

ul.canvas-menu__items > li {
  margin: 1rem 0;
  font-size: 3rem;
}
